.statistic__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-top: 114px;
}

@media all and (max-width: 460px) {
.statistic__title {
  font-size: 32px;
  line-height: 1.09;
  max-width: 288px;
  padding-top: 64px;
}
}
