.journey__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: white;
  margin: auto auto 32px;
  max-width: 560px;
}

@media all and (max-width: 700px) {
  .journey__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
  }
}
