.journey__subtitle {
  color: white;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0 auto auto;
  max-width: 360px;
}

@media all and (max-width: 700px) {
  .journey__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
